.navbar-container {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    align-items: center;
    padding-left: 10px;
}


.navbar-button {
    font-size: 14px;
    font-weight: 300;
    background-color: bisque;
    border-radius: 6px;
    text-decoration: none;
    border: 0ch;
    height: 30px;
}

.menu-container {
    max-width: 50vw;
    display: flex;
    gap: 5px;
}